# Supabase Configuration
SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-anon-key

# PayHero Configuration
PAYHERO_API_URL=https://backend.payhero.co.ke/api/v2/payments
PAYHERO_AUTH_TOKEN=Basic ckNWSFUwS2tMaG1DdTlDSmFybmo6SzN6NHZGN1NjY2N3Rk1MM2MzcllSekoyd0Fib2FsSHJQbGszWEhWQQ==
PAYHERO_CHANNEL_ID=7916
PAYHERO_CALLBACK_URL=https://www.canadavisajobs.site/api/payhero/callback
