# Supabase Configuration
SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-anon-key

# PayHero Configuration
PAYHERO_API_URL=https://backend.payhero.co.ke/api/v2/payments
PAYHERO_AUTH_TOKEN=Basic UXczMkpRa1h5YTJZQWxJMUZNSFk6VlJPZlo3NzJVMFZMNnB1REZqOGRkTmlvdnd2NnpuOVdrZTRwdVhHSQ==
PAYHERO_CHANNEL_ID=6683
PAYHERO_CALLBACK_URL=https://www.canadavisajobs.site/api/payhero/callback
